.folderContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in;
}

.folderContainer:hover {
  background-color: var(--hover-background-primary);
  cursor: pointer;
}

.folderContainer--highlighted {
  border: 1px solid green;
}

.folderIcon {
  width: 20px;
  height: 20px;
}
